@import 'leaflet/dist/leaflet.css';
.leaflet-container {
  width: 100%;
  height: 100vh
  
}

body {
    margin: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum","tnum";
}


.pov-forms{
    display: flex;
    
    justify-content:center;
    margin-bottom: 30px
}

.pov-form{
    width: 250px;
    padding: 30px 20px;
    margin: 20px 20px 40px;
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}

.pov-form:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0,0,255,.5);
}
.pov-form :after, :before {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-right: 80px;
}

nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

nav button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: color 0.2s, background-color 0.2s;
}

nav a:hover, nav button:hover {
    color: blue;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
    }

        nav a, nav button {
            margin: 10px 0;
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 160px;
        
      }

      footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 80px; 
      }
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin: 5px 0;
      }
      
      @media only screen and (max-width: 768px) {
        footer {
          flex-direction: column;
          align-items: center;
        }
        
        ul {
          text-align: center;
        }
      }

#center{
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

#what-we-do{
  text-align: center;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}
#why-pov{
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
}

.separator {
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 60px;
  }

.title{
    margin-bottom: 50px;
    color: #1890ff;
    
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    
}
.why{
    position: relative;
    margin-top: 100px;
}

.join{
    width: 350px;
    height: 330px;
    
    border-radius: 20%;
   
}
.input{
  display: block !important;
  margin-right: 120px;
  margin-left: 300px;
  width: 300px;
    padding: 30px 20px;
    margin: 20px 20px 40px;
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}
.input Input {
  margin-top: 20px;
}
.input Button {
  margin-top: 20px;
}

.Sign{
  width: 300px;
  height: 35px;
}

.form-img{
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}
      
.map{
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 80px;
}

.div{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}

.start{
    margin-left: 250px;
    width: 180px;
    height: 50px;
    margin-top: -50px;
    margin-bottom: 150px;
}
.forms {
    
    position: absolute;
    width: 250px;
    padding: 30px 20px;
    margin: 20px 20px 40px;
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out;
   
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    
  }

  .forms .welcome {
   
    text-align: center;
     color: white;
     margin-bottom: 70px;
  }

  .site-form-item-icon{
    margin-top: 10px
  }

  .login-form-button{
    width: 100%;
     margin-top:30px
  }

  .register-now{
    text-align:center;
    margin-top:25px;
    
      
  }
  
.android{
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-top: 50px;
    margin-left: 80px;
    color: white;
}


nav .logo {
    margin-right: auto;
    margin-left: 120px;
  }

footer .logo{
    margin-right: auto;
    margin-left: 120px;
}
.navbar {
    background-color:#1890ff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .navbar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: white;
    color: rgb(55, 55, 62);
  }

  
.pov-forma{
  
  width: 45%;
  padding: 10px 30px 20px;
   
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.5);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}






.plus{
  
  color: rgb(0, 0, 0);
  margin-left: 35%;
  margin-top: 50px;
}






.table{
  margin-left:25%;
  margin-top: 10%;
  width: 60%;
  align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}

.table:hover{
  transform: scale(1.03); 
  box-shadow: 0 4px 6px rgba(11, 11, 24, 0.5);
}
.table :after, :before {
  box-sizing: border-box;
}

.AddLongLat{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 50px; 
  left: 44%;
  z-index: 1000;
}
.ant-table-cell{

   width: 300px;
}

.filtre{
  width: 250px;
  position: absolute;
  left: 45%;
  top: 50px;
}
.awesome{
  color: #1890ff;
  position: relative;
  top:50px;
  left: 33%;
  margin-bottom: 80px;
}
.formsg h2 {
  margin-left: 45px;
}

.downloadapp{
  position: relative;
  left: 38%;
  margin-top: 50px;
}
.formsg{
position: absolute;
    width: 450px;
    padding: 30px 20px;
    margin: 20px 20px 40px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out;
   
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
  }

  .check{
    width: 150px;
    height: 150px;
    background-color: none;
    position:absolute;
    left: 47%;
    top:7%;
    z-index: 1
  }

  .checks{
    width: 130px;
    height: 130px;
    background-color: none;
    position:relative;
    left: 46%;
    top:8%;
    z-index: 1
  }

  .awesomes{
    color: red;
  position: relative;
  top:50px;
  left: 39%;
  margin-bottom: 80px;
  }
  .formsgs{
    position: absolute;
        width: 450px;
        padding: 30px 20px;
        margin: 20px 20px 40px;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.18);
        transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out;
       
        transform: translate(-50%, -50%);
        left: 50%;
        top: 45%;
      }
  .formsgs h2{
    margin-left: 45px;
  }
  .formsgs Button{
    background-color: red;
  }

  .para{
    position: absolute;
    bottom: 20px;
    left: 370px;
    width: 150px;
    height: 150px;
  }
  