@import 'leaflet/dist/leaflet.css';
.leaflet-container {
  width: 100%;
  height: 100vh
  
}

body {
    margin: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum","tnum";
}


.pov-forms{
    display: flex;
    
    justify-content:center;
    margin-bottom: 30px
}

.pov-form{
    width: 250px;
    padding: 30px 20px;
    margin: 20px 20px 40px;
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    box-shadow: 0 2px 4px rgba(0,0,255,.5); /* Updated */
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}

.pov-form:hover{
    transform: scale(1.03); /* Updated */
    box-shadow: 0 4px 6px rgba(0,0,255,.5); /* Updated */
}
.pov-form :after, :before {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-right: 80px;
}

nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

nav button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: color 0.2s, background-color 0.2s;
}

nav a:hover, nav button:hover {
    color: blue;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
    }

        nav a, nav button {
            margin: 10px 0;
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 160px;
        
      }

      footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 80px; 
      }
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin: 5px 0;
      }
      
      @media only screen and (max-width: 768px) {
        footer {
          flex-direction: column;
          align-items: center;
        }
        
        ul {
          text-align: center;
        }
      }

.center{
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.separator {
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 60px;
  }

.title{
    margin-bottom: 50px;
    
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    
}
.why{
    position: relative;
    margin-top: 100px;
}

.join{
    width: 220px;
    height: 220px;
    border-radius: 20%;
   
}

.form-img{
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}
      
.map{
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 80px;
}

.div{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}

.start{
    margin-left: 250px;
    width: 180px;
    height: 50px;
    margin-top: -50px;
    margin-bottom: 150px;
}
.forms {
    border-radius: 16px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 7px 50px 4px rgb(0, 64, 255);
-webkit-box-shadow: 2px 7px 50px 4px rgba(0, 64, 255);
-moz-box-shadow: 2px 7px 50px 4px rgba(0, 64, 255);
    position: absolute;
    width: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    padding: 30px 50px;
  }

  .forms .welcome {
    text-shadow: -3px 3px 2px rgba(0,0,0,0.6);
    text-align: center;
     color: white
  }

  .site-form-item-icon{
    margin-top: 10px
  }

  .login-form-button{
    width: 100%;
     margin-top:30px
  }

  .register-now{
    text-align:center;
     margin-top:25px;
      font-size: 25px
  }
  
.android{
    width: 120px;
    height: 50px;
    margin-top: 50px;
    margin-left: 80px;
}
.ios{
    width: 120px;
    height: 44px;
    margin-left: 30px;
}

nav .logo {
    margin-right: auto;
    margin-left: 120px;
  }

footer .logo{
    margin-right: auto;
    margin-left: 120px;
}
.navbar {
    background-color:#1890ff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .navbar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: white;
    color: rgb(55, 55, 62);
  }

  
.pov-forma{
  
  width: 45%;
  padding: 10px 30px 20px;
   
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.5);
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}


.trip-forms{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-file{
 margin-top: 10px;
 width: 89%;
 margin-right: 6px;
}

.plus{
  background-color: #1890ff;
  color: white;
}

.trip-element{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 90%;
  padding: 5px 20px;
   
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    /* box-shadow: 0 2px 4px rgba(10, 10, 10, 0.5); */
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}
.trip-element h2 {
  margin: auto;
}
.trip-element:hover{
  transform: scale(1.03); /* Updated */
  box-shadow: 0 4px 6px rgba(11, 11, 24, 0.5); /* Updated */
}
.trip-element :after, :before {
  box-sizing: border-box;
}

.get-back{
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.butt {
  margin-left: 15px;
  display: inline-block;
  font-size: 16px; 
  line-height: 1.5; 
  transition: font-size 0.2s ease-in-out, line-height 0.2s ease-in-out; 
  position: relative; 
}

.butt:hover {
  font-size: 20px; 
  line-height: 1.2; 
}

.butt:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: black; 
}

.discription{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
  padding: 5px 20px;
   
    align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    /* box-shadow: 0 2px 4px rgba(10, 10, 10, 0.5); */
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}
.discription h3 {
  
  margin-right:auto;
}

.table{
  margin: 10% auto;
  width: 60%;
  align-items: center;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.18);
    /* box-shadow: 0 2px 4px rgba(10, 10, 10, 0.5); */
    transition: transform .1s ease-in-out, box-shadow .1s, transform .2s ease-in-out
}

.table:hover{
  transform: scale(1.03); /* Updated */
  box-shadow: 0 4px 6px rgba(11, 11, 24, 0.5); /* Updated */
}
.table :after, :before {
  box-sizing: border-box;
}

.AddLongLat{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 50px; 
  left: 44%;
  z-index: 1000;
}
